body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#body-wrapper {
  margin-top: 30px;
}

/* ----------
 Navbar
---------- */

nav {
  border-bottom: 1px solid #cccccc;
}


/* ----------

---------- */

.ListItem {
  align-items: center;
  border: 1px solid #DCDCDC;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-left: -39px;
  padding: 5px;
}

.task-name {
  margin-left: 10px;
}

.item-modify-options {
  display: flex;
}

.completed-task {
  color: #777;
  font-weight: bold;
  font-style: italic;
  text-decoration: line-through;
}

.item-modify-options span {
  margin: 0px 10px;
}

.authenticate-form {
  color: white;
  top: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

label {
  float: left;
}

i {
  position: relative;
  top: 4px;
  cursor: pointer;
}

.fa-pencil-square-o:hover {
  color: #003366;
}

.fa-check-circle-o:hover, .fa-check:hover, .thumbs-up-icon {
  color: #336600;
}

.fa-trash:hover, .fa-times:hover {
  color: #B22222;
}


/* -------------
 Login and Register
------------- */

#auth-jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/jailam-rashad-1061261-unsplash.jpg);
  filter: brightness(50%);
  height: 700px;
  width: 100%;
}

/* -------------
 User's Bucket List Component/Page
------------- */

#bucket-list-jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/jackie-tsang-458443-unsplash.jpg);
  height: 500px;
  width: 100%;
}

.page-title {
  margin-bottom: 15px;
}

.sub-header {
  font-size: 20px;
  font-style: italic;
}

.input-group {
   margin: 0 auto;
}

.container-list-filter {
  margin-bottom: 5px;
}

.list-filter {
  padding: 5px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2px;
}

/* -------------
 Activity Feed
------------- */

.ActivityFeed {
  background-color: #f5f8fa;
}

.activity-content {
  margin: 0 auto;
}

.Post {
  display: grid;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-bottom: none;
  position: relative;
}

.post-profile-img {
  background-image: url(./assets/images/dog1-sq.jpg);
  background-size: cover;
  height: 42px;
  margin-top: 10px;
  margin-left: 5px;
  width: 42px;
  border-radius: 50%;
}

.post-author {
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 55px;
}

.post-date {
  color: #6c757d;
  font-size: 12px;
  text-align: right;
  position: relative;
  top: -30px;
  right: 15px;
}

.post-content {
  margin: 30px 15px 15px 15px;
  position: relative;
  top: -40px;
  text-align: left;
  font-size: 13px;
}

.post-img {
  width: 80%;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.fa-camera {
  margin-left: 5px;
}

.fa-camera:hover {
  color: #003366;
}

.new-post-input {
  display: inline-block;
  margin-top: 25px;
  width: 80%;
}

#post-btn {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

/* -------
User Profile
--------- */

.profile-container {
  background-image: url(./assets/images/will-truettner-1380995-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
}

.profile-headshot-container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin: 0 auto;
  padding: 10px;
  width: 275px;
  height: 330px;
  margin-bottom: 10px;
}

.profile-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.profile-img {
  background-image: url(./assets/images/dog1-sq.jpg);
  background-size: cover;
  border: 1px solid #fff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* ---------
Like component
---------- */

.like-container, .comment-container {
  display: inline-block;
  border-top: 1px solid #cccccc;
  width: 50%;
  text-align: center;
  padding: 8px;
}

.like-container span {
  padding: 5px;
}

.comment-container {
  display: inline-block;
}

/* ---------
Settings
---------- */

.settings-container {
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #cccccc;
}

.settings-change-btn {
  text-align: right;
}

.settingsValue {
  text-align: center;
}

table {
  width:100%;
}

td {
  width:33%;
  text-align: left;
}


@media (min-width: 800px) {

  .activity-content, #post-btn {
    width: 50%;
  }

  .new-post-input {
    width: 45%;
    display: inline-block;
  }

}

@media (min-width: 1200px) {

  .activity-content, #post-btn {
    width: 580px;
  }

  .ListItem {
    max-width: 80%;
    margin: 0 auto;
  }

  .new-post-input {
    width: 550px;
  }

}


@media (min-width: 1200px) {

  .item-modify-options span {
    margin: 0px 20px;
  }

}
